* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f5e6d8;
}

.container {
    padding: 30px;
}

.section-title {
    color: #4a2c07;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.product-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; /* space between different flowers */
    padding: 10px 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20 px;
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    margin-bottom: 80px;
}


.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.tag {
    margin-top: 6px;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.green {
    background: #6f8b3a;
}

.purple {
    background: #743465;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #f0dccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}
.seasonal-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.seasonal-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    width: fit-content;
}


